code/stamp/nbproject/
code/stamp/bin/
htm.pdf
hybridnorec.pdf
code/from_power8_machine.7z
code/stamp/jemalloc-4.2.1/
data/dsbench/graphs_dsbench2/
*.bbl
*.blg
*.synctex.gz
*.aux
*.log
*.vtc
*.out
disc/folder/trbotpc.txt
trbotpc.txt

code/stamp/dsbench/nbproject/
code/stamp/dsbench/perf.data*
code/stamp/dsbench/temp.txt
code/stamp/dsbench/*.dsbench_*
step*.data
temp*.txt
